################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/__pycache__
/.ipynb_checkpoints
/results
*.h5
*labels.txt
*.tflite
/result/trained_model
