################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/__pycache__
/.ipynb_checkpoints
*.h5
*labels.txt
/save_model
*.tflite
